.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-banner {
    height: auto;
    min-height: 400px;
    width: 100%;
    /* background-image: url(../../assets/images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
}

.home-text {
    width: clamp(var(--screen-width-small), var(--screen-width-medium), var(--screen-width-large));
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3em;
}

.home-text .elementor {
    width: 50%;
    padding: 20px;
}

.home-text .images {
    padding-left: 5%;
}

.home-text .images img {
    width: 100%;
}

h1 {
    color: var(--nav-text-second-color);
    font-family: "Herr Von Muellerhoff", Sans-serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 58px;
}

p {
    margin-bottom: 15px;
    color: #888;
    font-size: 14px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    line-height: 2;
}

.element-text {
    font-family: "opensans";
}

/* 
.home-banner::before{
    content: "";
    background-image: url(../../assets/images/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
} */

.gallery-cell {
    width: 100%;
    min-height: 400px;
    height: 100%;
    margin-right: 10px;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: "";
    line-height: 200px;
    font-size: 80px;
}

.image2 {    
    height: 400px;
    position: relative;
}